body {
  background-color: antiquewhite;
}

#logo {
  width: 6rem;
}

i,
img {
  cursor: pointer;
}

.bg-primary-nav:hover {
  color: #141c44 !important;
}

.card {
  display: flex;
  height: 95%;
  min-height: 350px;
  margin-bottom: 2rem;
}

.card-body {
  flex-grow: 1;
}
